/* Desktop */
.bubble{
    margin-left: 5%;
    border-radius: 15px;
    width: 90%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 30px;
  }
    /* text (inhalt) */
  .bubble h4 {
    text-align: left;
    font-size: 2.8vh;
    padding-top: 2%;
    margin-left: 5%;
    text-decoration: none;
    color: #000000;
  }

/* Smartphone */
@media only screen and (max-width: 600px) {
    /* weiße bubble */
.bubble{
    margin-left: 4vh;
    border-radius: 15px;
    width: 80%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 30px;
  }
    /* text (inhalt) */
  .bubble h4 {
    text-align: left;
    font-size: 2.8vh;
    padding-top: 5%;
    margin-left: 5%;
    text-decoration: none;
    color: #000000;
  }
}
/* Tablet */
@media only screen and (min-width: 600px) and ( max-width: 1300px) {
    /* weiße bubble */
    .bubble{
        margin-left: 1%;
        border-radius: 15px;
        width: 60vh;
        height: 62px;
      }
      /* text (inhalt) */
      .bubble h4 {
        padding-top: 2.5%;
        margin-left: 5%;

      }
    }